/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif !important;
    color: #333 !important;
}
