/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif !important;
    color: #333 !important;
}

g.tick line {
    opacity: 0;
}

g.y-axis path, g.x-axis path {
    opacity: 0;
}

g.x-axis text, g.y-axis text {
    font-weight: 600;
    color: #333;
    font-size: 1em;
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
}

g.legend text {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-family: 600;
    font-size: 0.75em;
}